<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp051E04CC894E3B9EE204EF6D8B369F6D" Guid="{19A35161-4A42-484F-886A-EE07FE9C3DAA}">
                <File Id="fil8F640DD005F227C4C6E7B87B1F2A5CEF" KeyPath="yes" Source="$(var.BasePath)\Honey.exe" />
            </Component>
            
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Honey_Project">
            <ComponentRef Id="cmp051E04CC894E3B9EE204EF6D8B369F6D" />
            
        </ComponentGroup>
    </Fragment>
</Wix>